<h1>投稿一覧</h1>

<% @lists.each do |list| %>

  <p>タイトル</p>
  
  <%#= link_to list.title, "/lists/#{list.id}"を以下コードに変更 %>
   
  <span>
    <%= link_to list.title, list_path{list.id} %>
  </span>
  
<% end %>
